<?xml version="1.0"?>
<launch>
  <!-- Define some arguments to spawn our turtlebot3 into the world -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-6.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pursuit_evasion_pkg)/worlds/apartment.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  </include>

  <!-- Spawn the turtlebot3 -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <!-- <node pkg="turtlebot3_example" type="turtlebot3_pointop_key" name="turtlebot3_pointop_keyboard"  output="screen"/> -->
  <!-- <node pkg="pursuit_evasion_pkg" type="traverse_floor.py" name="traverse_floor_node"/> -->

  
</launch>
